<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449057639524-l724o7gfkhd8bt50lvkfh1n5a285ma73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449057639524-l724o7gfkhd8bt50lvkfh1n5a285ma73</string>
	<key>API_KEY</key>
	<string>AIzaSyAy4wr-2g2Ne6rpKElGwX8Vo3JtSQ9DzmA</string>
	<key>GCM_SENDER_ID</key>
	<string>449057639524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.login.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>iti2023training-b9d9e</string>
	<key>STORAGE_BUCKET</key>
	<string>iti2023training-b9d9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449057639524:ios:995fdbeda9dfab58472371</string>
</dict>
</plist>